/* make timeline long enough so we could always scroll */
#stream_pagelet {
  height: 10000px !important;
}

/*
.rhcFooter: ads in pictures (photo.php) when there is not many comments;
#pagelet_ego_pane: sidebar ads
#MRoot article[data-xt]: mobile sponsored posts
#MFirstBatch article[data-xt*="adid"]: mobile sponsoredbb posts
._1lil._2pie._3-8y, ._6y8t._3-95._71uj: marketplace ads
*/
.rhcFooter,
#pagelet_ego_pane,
#MRoot article[data-xt],
#MFirstBatch article[data-xt*="adid"],
._1lil._2pie._3-8y,
._6y8t._3-95._71uj {
  display: none !important;
}

/* so that the space will collape nicely when we remove sidebar ad */
.home_right_column {
  min-height: inherit !important;
}
